# Python
__pycache__/
*.pyc

# Python virtual environment
venv/

# Data files
data/*.csv
data/*.parquet

# Airflow
airflow/airflow.db
airflow/logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.log
.env
